#thanksContainer{
    height: 100vh;
    flex: 5;
    position: relative;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thanksContainer div{
    color: #34495e;

}